@import "./reset.css";

/* fusion-pixel */
@font-face {
    font-family: 'Pixel';
    src: url('../assets/fonts/fusion-pixel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* KNMaiyuan */
@font-face {
    font-family: 'KNMaiyuan';
    src: url('../assets/fonts/KNMaiyuan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Smooth transitions for theme changes */
body {
  /* background-image: var(--app-bg-image); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--app-font-family);
  transition: var(--theme-transition);


  background: rgb(204, 232, 207);
}

.btn {
  font-size: 14px;
  background-color: #dc7f02;
  color: #fff;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: unset;
  /* padding: .8rem 1.5rem; */
  padding: .8rem;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.7s cubic-bezier(0,.8,.26,.99);
}

.btn:before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transition: .7s cubic-bezier(0,.8,.26,.99);
  z-index: -1;
  background-color: #dc7f02!important;
  box-shadow: 0 -4px rgb(0 0 0 / 20%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 20%) inset;
}

.btn:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: .7s cubic-bezier(0,.8,.26,.99);
}

.btn:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 20%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 20%) inset;
}

.btn:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

.btn:active {
  transform: translateY(4px);
}

.btn:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}
